/* including open sansregular font family */
@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/opensans-regular-webfont.eot');
    src: url('fonts/opensans/opensans-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('fonts/opensans/opensans-regular-webfont.woff') format('woff'),
        url('fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
        url('fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
    max-width:100%;
}

body {
    font-family:opensans;
    background:url(img/bg.png) repeat;
    margin:0;
    padding:0;
}

div.wrapper {
background: #fff none repeat scroll 0 0;
box-shadow: 0 0 30px 3px #666;
height: auto;
margin: auto;
max-width: 1000px;
min-height: 1000px;
overflow: auto;
padding: 0 2% 10px;
width: 96%;
}

/* header section start here */
header.topbar {
    display: table;
    width: 100%;
    overflow: auto;
}

header.topbar  div{
    display: table-cell;
    vertical-align: top;
    padding: 2%;
    text-align: center;
}

header.topbar  div.amclogo,
header.topbar  div.logo{
   height: 12%;
    padding-top: 40px;
    width: 12%;
}

header.topbar div img {
    margin: 0 auto;
    width: 100%;
}

header.topbar img{
	width: 100%;
}

header.topbar  div.head_line{
    width: 63%;
}

header.topbar  div.head_line h1{
    font-size: 2.2em;
    text-align: center;
    color: #F00;
}

header.topbar  div.head_line h1:nth-child(2){
    font-size: 1.8em;
    color: #0F0;
}

header.topbar  div.search{
    width: 30%;
    float: right;
}

header.topbar  div.amclogo img{
	width: 76%;
}
/* header section end here */



nav.navigation {
    width:100%;
    height:45px;
    color:#FFF;
    background-color:#3382FB;
    text-align:left;
    margin-top: -10px;
    position:relative;
    /*
    
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #1D3F7F),
            color-stop(0.49, #1385F7)
    );
    background-image: -o-linear-gradient(bottom, #1D3F7F 0%, #1385F7 49%);
    background-image: -moz-linear-gradient(bottom, #1D3F7F 0%, #1385F7 49%);
    background-image: -webkit-linear-gradient(bottom, #1D3F7F 0%, #1385F7 49%);
    background-image: -ms-linear-gradient(bottom, #1D3F7F 0%, #1385F7 49%);
    background-image: linear-gradient(to bottom, #1D3F7F 0%, #1385F7 49%);
    */
}

nav.navigation a.responsive-icon {
    float:left;
    display:none;
}

nav.navigation >ul {
    list-style:none;
    width:auto;
    height:auto;
    display:inline-block;
    margin:10px 0 0;
    padding:0;
}

nav.navigation >ul >li {
    float:left;
    height:20px;
    width:auto;
    margin-left:0px;
    overflow: visible;
    position:relative;
    /*border-right:1px solid #D2D2D2;*/
}

nav.navigation >ul >li >a {
border-right: 1px solid #6b994d;
color: #fff;
font-family: "Ubuntu",sans-serif;
line-height: 20px;
padding: 0 7px;
position: relative;
text-decoration: none;
}

nav.navigation >ul >li >a:hover {

    position:relative;
    color:#fff;
   /* border-radius:2px;*/
    transition:all ease 100ms;
    padding:10px 7px 15px;
   /* border-top-right-radius:5px;
    border-top-left-radius:5px;*/
    background-color:#303030;
    border-right:none;
/*

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.49, #1385F7 ),
        color-stop(0,#1D3F7F )
        );
    background-image: -o-linear-gradient(bottom, #1D3F7F 0%, #1385F7 49%);
    background-image: -moz-linear-gradient(bottom, #1385F7 49%,#1D3F7F 0% );
    background-image: -webkit-linear-gradient(bottom, #1D3F7F 0%, #1385F7 49%);
    background-image: -ms-linear-gradient(bottom, #1D3F7F 0%, #1385F7 49%);
    background-image: linear-gradient(to bottom, #1D3F7F 0%, #1385F7 49%);

*/
}

nav.navigation >ul >li div {
	background: #fff none repeat scroll 0 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 6px solid #3382FB;
	box-shadow: 0 10px 30px #000;
	display: none;
	height: auto;
	left: 0;
	margin-left: -179px;
	overflow: auto;
	position: absolute;
	top: 36px;
	width: 1000px;
	z-index: 9999999;
}

nav.navigation >ul >li div:hover nav.navigation >ul >li>a {
    background:#999;
}

nav.navigation >ul >li div#department {
margin-left: -182px;
max-width: 1000px;

}

nav.navigation >ul >li div#degree {
margin-left: -160px;
max-width: 400px;

}

#others{ width:150px;}

nav.navigation >ul >li div#soho-karzokrom {
    left: 0;
    width: auto;
    margin-left:-5px;


}

nav.navigation >ul >li div#result {
    left:-400px;
}

nav.navigation >ul >li:hover div {
    display:block;

}

nav.navigation >ul >li div ul {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	height: auto;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 179px;

}

nav.navigation >ul >li div ul p {
    color: #0164FA;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}


nav.navigation >ul >li div ul li {
    border: 1px solid #d3d3d3;
	margin: 7px;
	padding: 4px;

}

nav.navigation >ul >li div ul li :hover{
    padding:5px 0px;
    /*background-color:#1D3F7F;*/
    border-radius:5px;

}



nav.navigation >ul >li div ul li a {
    text-decoration:none;
    color:#000;
    font-size:14px;

}

nav.navigation >ul >li div ul li a:hover {
    text-decoration:none;
    color:#1A56A7;
    font-size:14px;
    width:200px;
    border-radius:5px;

    /* Proposed script*/

    position:relative;
    transition:all ease 100ms;
    padding:5px 10px 12px;
}

article.maincontent {
    width:70%;
    height:auto;
    min-height:400px;
    float:left;
    margin-top:20px;
}

section#noticeboard {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: table-cell;
    height: auto;
    margin-right: 8px;
    overflow: hidden;
    padding: 5px;
    vertical-align: top;
    
}


section.noticeboard{
box-shadow: 0 0 5px #ccc;
float: left;
height: 100% !important;
min-height: 230px;
margin-right: 0;
overflow: hidden;
padding: 5px;
width: 47%;
margin-left: 4px;
}

section.college_gate{
box-shadow: 0px 0px 5px #ccc;
float: left;
height: auto;
overflow: hidden;
padding: 5px;
width: 47%;
height: 230px;
}


/*
section.noticeboard img{ 
    height: 230px;
    max-width: 371px;
    width: 100%;
}
*/

section.noticeboard h1 {
    color: #0164FA;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    margin-bottom:10px;
}

/* marquee style start here */
section.noticeboard marquee{height: 190px;}
section.noticeboard-top marquee p{


}

.noticeboard-top p{

	border: 1px solid #d3d3d3;
    margin-bottom:8px;
    padding: 7px;
}
section.noticeboard marquee p a{
	display: block;
	line-height: 30px;
	color:#000;
	font-size:15px;
}

section.noticeboard marquee p a:hover{
	color: #0164FA;
}
/* marquee style end here */


section.noticeboard a.button {
    width:auto;
    text-decoration:none;
    line-height:30px;
    display:block;
    float:right;
    clear:both;
    background:#0164FA;
    color:#fff;
    font-weight:700;
    border:2px solid #0164FA;
    margin:0 15px 10px 0;
    padding:0 10px;
}

section.noticeboard a.button:hover {
    color:#0164FA;
    background-color:#fff;
    border:2px solid #0164FA;
    font-weight:700;
}

section.news {
    width:100%;
    min-height:30px;
    margin-top:20px;
    height:auto;
    background:#F7F7F7;
    overflow:auto;
}

section.news h3 {
    margin:5px;
    padding:0;
}

aside.right-panel {
    width:28%;
    height:auto;
    min-height:400px;
    float:right;
    margin-top:20px;
}

aside.right-panel .singlediv {
   background: #f7f7f7 none repeat scroll 0 0;
border: 1px solid #d3d3d3;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
float: none;
height: auto;
margin-bottom: 10px;
min-height: 100px;
overflow: auto;
width: 100%;
padding-bottom:7px;

    
}

aside.right-panel .singlediv:last-child {
    margin-bottom:0;
}

aside.right-panel .singlediv h1.title {
    width:100%;
    background:#3382FB;
    text-align:center;
    color:#FFF;
    font-weight:100;
    font-size:20px;
    line-height:35px;
    margin:0;
    margin-bottom:15px;
}
aside.right-panel .singlediv ul {
    list-style:none;
    width:90%;
    height:auto;
    float:left;
    margin-left:5%;
    clear:both;
    padding:0;
}

aside.right-panel .singlediv ul li {
	border: 1px solid #dcdcdc;
	display: block;
	margin-bottom: 7px;
	padding: 5px 5px 5px 10px;
}

aside.right-panel .singlediv ul li a {
    text-decoration:none;
    color:#000;
    font-size:15px;
    display:block;
    padding-bottom:5px;
}

.newsandevents ul{
font-size:16px;
padding-top:15px;
padding-left:10px;
}
.newsandevents ul li{
display: block;
padding: 5px 1px 1px 10px;
}
.newsandevents ul li a{
  text-decoration:none;
   color:#000;
    display:block;
}
footer {
    width:96%;
    /*max-width:1000px;*/
    height:auto;
    min-height:50px;
    background:#F7F7F7;
    overflow:auto;
    margin:auto;
    padding:0 2% 10px;
}

footer p {
    font-size:14px;
    color:#333;
}

footer div.social {
    width:30%;
    height:auto;
    float:left;
    text-align:center;
    margin:10px 0 0 3%;
}

footer .social ul {
    width:auto;
    height:auto;
    display:inline-block;
    list-style:none;
    overflow:auto;
    margin:10px auto auto;
    padding:0;
}

footer .social ul li {
    float:left;
    margin-left:10px;
    margin-bottom:10px;
    text-align:center;
}

footer .social ul li a {
    background:none repeat scroll 0 0 #464646;
    border-radius:2px;
    color:#fff;
    display:block;
    height:35px;
    line-height:35px;
    text-decoration:none;
    transition:all 1s linear 0;
    width:36px;
    padding-left:4px;
}

footer .social ul li a[href*="facebook"]:hover {
    background:#4034A9;
}

footer .social ul li a[href*="twitter"]:hover {
    background:#3AA9E4;
}

footer .social ul li a[href*="google"]:hover {
    background:#F41A29;
}

footer .social ul li a[href*="linkedin"]:hover {
    background:#1B66E4;
}

footer div.developer p {
    color:#333;
}

footer div.developer a {
    color:#000;
    text-decoration:none;
}

footer div.developer a:hover {
    color:#060;
}

nav.navigation >ul >li:last-child,nav.navigation >ul >li div ul:last-child,aside.right-panel {
    border:none; 
}

nav.navigation >ul >li div#admission,nav.navigation >ul >li div#exam {
    left:-300px;
}

nav.navigation >ul >li div ul li a:hover,section.noticeboard ul li a:hover,aside.right-panel .singlediv ul li a:hover {
    color:#0164FA;
    font-weight:bold;
    padding-left:5px;
}

.fa,footer .social li:last-child {
    margin-right:5px;
}

footer div.copyright,footer div.developer {
    width:30%;
    height:auto;
    float:left;
    margin:10px 0 0 3%;
    width:900px;
}


/*********************************** footer part style start here ***********************************/
footer.foot-1{
    padding: 0 2% 10px;
    border-bottom: 1px solid #282828;
    max-width:1000px;
    width: 96%;
    overflow:auto;
}

footer.foot-1 section.wrapper{
    display: table;
    box-sizing: border-box;

}

footer.foot-1 section.wrapper div{
    display: table-cell;
    vertical-align: top;
    width: 17.5%;
    color: #B0AFAF;
    font-size: 14px;

}

footer.foot-1 section.wrapper div figure img{
    width:220px;
    margin-top:-20px;

}

footer.foot-1 section.wrapper div.foot-logo{
    padding-left: 10px;
}

footer.foot-1 section.wrapper div ul{
    margin-top: 30px;
}

ul.foot-ul-1,
ul.foot-ul-2{
    border-right: 1px solid #4F4E4E !important;
}

ul.foot-ul-3,
ul.foot-ul-4{
    border-left: 1px solid #4F4E4E !important;
}

ul.foot-ul-4 li:last-child{
    display: none;
}

footer.foot-1 section.wrapper div ul li{
    line-height: 25px;
}

footer.foot-1 section.wrapper div ul li a{
    font-size: 14px;
    color: #B0AFAF;
}

footer.foot-1 section.wrapper div ul li a:hover{
    color: #72B626;
}

ul.foot-ul-1 li,
ul.foot-ul-2 li{
    padding-left: 10px;
}

ul.foot-ul-3 li,
ul.foot-ul-4 li{
    padding-left: 10px;
}

footer.foot-1,
section.foot-2{
    background: none repeat scroll 0 0 rgba(62, 61, 61, 1);
    margin: 0 auto;
}
/* footer style start here */


section.foot-2{
    border-top: 1px solid #565656;
    clear: both;
    color: #b0afaf;
    min-height: 32px;
    padding: 0 2% 10px;
    text-align: center;
    max-width:1000px;
    width: 96%;
}

section.foot-2 nav{
    text-align: center;
    margin-top: 30px;
}

section.foot-2 nav a{
    margin: 0 7px;
    color: #B0AFAF;
}

section.foot-2 nav a i{
    font-size: 22px;
}

section.foot-2 nav a:hover i.fa-facebook{color: #3B5998;}
section.foot-2 nav a:hover i.fa-google-plus{color: #C63D2D;}
section.foot-2 nav a:hover i.fa-linkedin{color: #4875B4;}
section.foot-2 nav a:hover i.fa-twitter{color: #33CCFF;}
section.foot-2 nav a:hover i.fa-youtube-play{color: #FF3333;}
section.foot-2 nav a:hover i.fa-skype{color: #00AFF0;}
section.foot-2 nav a:hover i.fa-yahoo{color: #7B0099;}

section.foot-2 p{
    margin-top: 10px;
    font-size: 14px;
}
/* footer style start here */





/********************************* global style start here **************************************/
*{transition: all 0.3s ease-in;}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    color: #282828;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header,
section[role="main"],
footer{
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/********************************* global style end here **************************************/


/* main content style start here */
section[role="main"]{

}
/* main content style end here */

a{text-decoration:none;}

section.foot-2 div{
    width: 32%;
    float: left;
    padding: 10px 0;
    text-align: center;
}


#copytxt{margin-top:0px;}
#developtxt{margin-top:0px;}

section.foot-2 div:last-child{
    float: right;
}

.developer  a{
    color: #b0afaf; 
    text-decoration: none;

}

.developer  a:hover{
    color:#0164FA; 
    text-decoration: none;
}

.social  a{
    color: #b0afaf; 
    padding:5px;
    text-decoration: none;
    border-radius:2px;
}

.social  a:hover{
    color: #0164FA; 
    text-decoration: none;
    font-weight:bold;
    padding:5px;
    background-color:#fff;
}

.headline{
    color:#0164FA;
    font-size:35px;
    font-family:ClarendonLTStd;
    margin-left:5px;
    text-shadow:2px 4px 6px #484848 ;
}
.bangla_headline{
    color:#0164FA;
    font-size:25px;
    text-align:center;
    font-family:ClarendonLTStd;
    text-shadow:2px 4px 6px #484848 ;
}

.sammary{
    box-shadow: 0 0 5px #edeee6;
    float: left;
    height: auto;
    margin-right: 8px;
    margin-top: 14px;
    min-height: 200px;
    overflow: auto;
    padding: 10px;
    text-align: justify;
    width: 95%;
}

.sammary h1{
    color: #0164FA;
    display: inline-block;
    font-size: 25px;
    font-weight: 100;
    padding-left: 5px;
    text-align: left;
}


/* Head line colour only Start */

header.topbar  div.head_line h1{
color: #0164FA;
font-size: 58px;
text-shadow: 0 0 1px #404040;
}

header.topbar  div.head_line h1:nth-child(2){
color: #0164FA;
font-size: 36px;
text-shadow: 0 0 1px #404040;
}	

.amclogo {
    width:95px;
    height:120px;
    margin-top:-18px;
}

div#calendar{
    width:100px;

    float:right;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;

    border-radius:0px 0px 10px 0px;
    box-shadow: 1px 4px 4px #d8d8d8;
}

/* for date */
div#calendar p:first-child{
    font-size: 22px;
    font-weight: bold;
    color: #ada5d7;
    text-align:center;
}	

/* for time */
div#calendar p:last-child{
    font-size: 20px;
    font-weight: bold;
    color: #97afcc;

}	
/* Head line colour only Start */





/* complain box style start here*/
.complain{}

.complain h1{
    color: #0164FA;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.complain p{
    margin: 10px 0;
}

.complain form input,
.complain form textarea{
    width: 97%;
    font-family: opensans;
    padding-left: 1%;
    border: 1px solid #0164FA;
    border-radius: 3px;
}

.complain form input:focus,
.complain form textarea:focus,
.complain form input[type="submit"]:hover{
    box-shadow: 0 0 5px #0164FA;
}

.complain form input{
    height: 28px;
}

.complain form textarea{
    resize: none;
    height: 150px;
}

.complain form input[type="submit"]{
    width: 100px;
    height: 38px;
    cursor: pointer;
    background: #0164FA;
    color: #F7F7F7;
    font-size: 18px;
    line-height: 28px;
}
/* complain box style end here*/




/* department organize style start here */
.organize{}

.organize h1{
    color: #0164FA;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.organize h3,
.organize h4{
    text-align: center;
    color: #0164FA;
}

.organize table{
    margin: 20px auto;
    width: 100%;
}

.organize table,
.organize table tr,
.organize table tr th,
.organize table tr td{
    border-collapse: collapse;
    border: 1px solid #0164FA;
    text-align: center;
}

.organize table tr:first-child th{
    background: #0164FA;
    color: #F7F7F7;
    font-size: 18px;
    padding: 5px 0;
    font-weight: 300;
}

.organize table tr th,
.organize table tr td{
    color: #333;
}

.organize div.row h3{
    background: #0164FA;
    color: #F7F7F7;
    width: 100%;
    line-height: 40px;
}

.row{
    clear: both;
    overflow: auto;
    margin: 10px 0;
}

.organize figure{
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    height: 180px;
    margin: 5px;
    max-width: 153px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 100%;
}

.organize figure img{
    width: 100%;
}

.organize figure figcaption{
    display: none;
}

.organize .show{
    display: block;
}
/* department organize style end here */




/* home page style start here */
.maincontent .row{
    box-sizing: border-box;
    display: table;
    margin: 20px 0;
    overflow: auto;
    width: 100%;
    
    	/*background: -webkit-linear-gradient(#ffffff, #ededed); 
	background: -o-linear-gradient(#ffffff, #ededed); 
	background: -moz-linear-gradient(#ffffff, #ededed); 
	background: linear-gradient(#ffffff, #ededed);*/
}

p.sammary-glance{
font-size: 15px;
line-height: 27px;
}
/* home page style end here */




/* search page style start here */
.search{}

.search h1{
    color: #0164FA;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.search #roll{
    width: 97%;
    font-family: opensans;
    padding-left: 1%;
    border: 1px solid #0164FA;
    border-radius: 3px;
    height: 28px;
    margin-bottom: 20px;
}

.search #roll:focus{
    box-shadow: 0 0 5px #0164FA;
}

.search #result figure{
    margin: 0;
    padding: 0;
}

.search #result figure div#pic{
    float: left;
    width: 100%;
    max-width: 256px;
    margin-right: 50px;
    background: #FFF;
}

.search #result figure div#pic img{
    width: 100%;
    max-width: 256px;
}

.search #result figure figcaption{}

.search #result figure figcaption ul{
    list-style-type: none;
}

.search #result figure figcaption ul li{
    line-height: 30px;
    padding: 0 5px;
    width: 97%;
    cursor: default;
    border-radius: 3px;
    color: #282828;
    text-align: left;
}

.search #result ul li:nth-child(odd){
    background: rgba(0, 150, 200, 0.1);
}

.search #result ul li:hover{
    background: rgba(180, 180, 200, 0.1);
}

.search #result ul li span{
    width: 120px;
    display: inline-block;
}
/* search page style end here */


/* pop-up window style start here */
.pop-up-img,
.pop-up{
    background: rgba(57, 57, 57, 0.5);
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    z-index: 9999999;
}

.pop-up-img .pop-up-data-img,
.pop-up .pop-up-data{
    max-width: 260px;
    width: 100%;
    min-height: 400px;
    margin: 5% auto 11%;
    padding: 1%;
    background: #F2F2F2;
    border-radius: 5px;
    position: relative;
}

.pop-up-img .pop-up-data-img{
	min-height: 200px;
}

.pop-up-img .pop-up-data-img{
	max-width: 600px !important;
}

.pop-up-img .pop-up-data-img figure img{
	width: 100%;
}

.pop-up .pop-up-data ul li{
    width: 94%;
    background: rgba(0, 136, 204, 1.0);
    line-height: 30px;
    margin: 2px 0;
    padding-left: 5%;
    color: #FFF;
}

.pop-up .pop-up-data ul li:first-child{
    background: none;
    padding-left: 0;
    width: 99%;
}

.pop-up-img .pop-up-data-img span#cancle,
.pop-up .pop-up-data span#cancle{
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
}

.pop-up-img .pop-up-data-img span#cancle i,
.pop-up .pop-up-data span#cancle i{
    font-size: 28px;
    cursor: pointer;
}

.pop-up-img .pop-up-data-img span#cancle i:hover,
.pop-up .pop-up-data span#cancle i:hover{
    color: #F44;
}

.hide{
    display: none;
}
/* pop-up window style end here */

/* gallery style start here */
#gallery_img{
    border: 1px solid #00aff0;
    float: left;
    height: 122px;
    margin: 1%;
    overflow: hidden;
    padding: 1%;
    width: 29%;
}

#gallery_img img{
    max-width: 100%;
    width: 295px;
}
/* gallery style end here */


/* message style start here */
p#conf-insert,
p#conf-update,
p#conf-delete,
p#conf-failure{
    width: 98.5%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

p#conf-insert{background: rgba(60,140,4,0.1); /*#d9edf7;*/}
p#conf-insert a{color: #00aaff;}

p#conf-update{background: #dff0d8;}
p#conf-update a{color: #298c00;}

p#conf-delete{background: #fcf8e3;}
p#conf-delete a{color: #ae9200;}

p#conf-failure{background: #f2dede;}
p#conf-failure a{color: #e40000;}

p#conf-insert a,
p#conf-update a,
p#conf-delete a,
p#conf-failure a{
    display: inline-block;
    line-height: 30px;
    width: 100%;
}

.applynow{
	font-size: 33px;
	padding: 30px;
	text-align: center;

}
.applynow a{
color: #62a331;
font-weight: bold;
}

.applynow a:hover{
color: #0088cc;
font-weight: bold;
}


/* custom student search start */
.search #roll{
    width: 40% !important;
}

#student-result{
    width: 41% !important; 
    border: 1px solid #01738E !important;
}

#student-result:hover{
    background: #398904 !important; 
}

.search input[type="button"]{
    display: none;
}
/* custom student search end */


/* result student search start */
.search select{
    width: 41% !important;
    font-family: opensans;
    padding-left: 1%;
    border: 1px solid #0164FA; /*#01738e;*/
    border-radius: 3px;
    height: 30px;
    margin-bottom: 10px;
}

.search input[type="text"]{
    width: 40% !important;
    font-family: opensans;
    padding-left: 1%;
    border: 1px solid #0164FA; /*#01738e;*/
    border-radius: 3px;
    height: 28px;
    margin-bottom: 25px;   
}

.search a#search{
    width: 40%;
    color: #398904; /*#01738e;*/
    border: 1px solid #0164FA; /*#01738e;*/
    padding: 5px 10px;
    border-radius: 3px;
}

.search a#search:hover{
    background: #0164FA;
    color: #fff;
}

.search table{
    margin-top: 20px;
    border: 1px solid #01738e; 
    border-collapse: collapse;
    width: 100%;
    line-height: 28px;
    text-align: center;
    }

.search tr,
.search th,
.search td{
    border: 1px solid #01738e; 
}

.search th{
    background: #0164FA; 
    color: #fff;
}

.search td a{
    color: #0164FA;
}
/* result student search end */


/* digital_content search end */
.etc{
    margin-bottom: 10px; /* into the digital_content page use .etc class into last select. */  
}
/* digital_content search end */


/* notice search end */
section.noticeboard{
    width: 99%;
}

section.noticeboard a{
    color: #0164FA; /*#01738e;*/
}
/* notice search end */


/* notice search end */
.mail-modal{
    width: 100%;
}

.img-modal:nth-child(1),
.img-modal:nth-child(2){
    margin-right: 3px;
}

.img-modal{
    float: left;
    width: 32%;
    position: relative;
}
/* notice search end */

/* teacher start */
.modal-content{
    border-radius: 0 !important;
}

.img-modal span{
    position: absolute;
    right: -20px;
    top: -20px;
}
/* teacher end */