* { 
	padding: 0; 
	margin: 0;
}

.clear {
	clear: both;
}

body, input, textarea, select {
	font-family: 'Times New Roman', arial;
	font-size: 16px;
}

input[type='submit']  {
	cursor: pointer;
}

input.short[type='text'],
input.short[type='password'] {
	width: 200px;
}

input.medium[type='text'],
input.medium[type='password'] {
	width: 400px;
}

input.long[type='text'],
input.long[type='password'] {
	width: 685px;
}

table.tbl1 {
	margin-top: 10px;
}

table.tbl1 tr td input[type='text'] {
	height: 23px;
	line-height: 23px;
}

table.tbl2 {
	margin-top: 10px;
}

table.tbl2 tr th, table.tbl2 tr td {
	padding: 2px;
} 

table.tbl2 tr td {
	text-align: center;
}

table.tbl2 tr th {
	background-color: #3d9ccd;
	color: #fff;
}

table.tbl2 tr:nth-child(2n+1) td {
	background-color: #d9dad9;
}

table.tbl2 tr:nth-child(2n) td {
	background-color: #d2d3d1;
}

table.tbl2 tr td a {
	color: #70726e;
	text-decoration: none;
}

table.tbl2 h3 {
	border-bottom: 2px solid #000;
}


#wrapper-login {
	width: 330px;
	height: auto;
	margin: 100px auto 0 auto;
	background-color: #d9dbd8;
	padding: 10px;
}

#wrapper-login h1 {
	font-size: 16px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

#wrapper-login table tr td {
	padding: 0px 10px;
}

#wrapper-login table tr td input[type='text'],
#wrapper-login table tr td input[type='password'] {
	width: 220px;
	height: 23px;
	line-height: 23px;
}
#wrapper-login table tr td input[type='submit'] {
	background-color: #3382FB;
	color: #fff;
	border: none;
	padding: 3px 10px;
	margin-top: 10px;
	float: right;
}


#wrapper {
	width: 960px;
	height: auto;
	margin: 0 auto;
	background-color: #e6e8e5;
	border: 1px solid #000;
	overflow: hidden;
	padding: 10px;
}

#header {
	width: 960px;
	height: 50px;
}

#header h1 {
	color: #000;
	font-size: 26px;
	background-color: #3d9ccd;
	color: #fff;
	text-align:center;
}

#container {
	width: 960px;
	height: auto;
	min-height: 500px;
}

#sidebar {
	width: 217px;
	height: auto;
	float: left;
	margin-right: 15px;
	border: 1px solid #3d9ccd;
	min-height: 500px;
}

#sidebar h2 {
	font-size: 16px;
	color: #fff;
	background-color: #3d9ccd;
	padding: 2px 10px;
	margin-top: 0px;
}

#sidebar ul li {
	margin-left: 20px;
	padding-top:10px
}

#sidebar ul li a {
	color: #000;
	text-decoration: underline;
}

#content {
	width: 725px;
	height: auto;
	float: left;
}

#content h2 {
	font-size: 16px;
	color: #fff;
	background-color: #3d9ccd;
	padding: 2px 10px;
	margin-top: 0px;
	text-align:center;
}

.error {
	color: red;
	font-weight: bold;
}

.success {
	color: green;
	font-weight: bold;
}