/*******************banner custom style******************/
.banner-main{
	width: 100%;
}
.banner-main .banner1{
	border: 2px solid #000000;
	float: left;
	margin-top: 5px;
	width: 70%;
	border-radius:5px;
	}
.banner-main .banner2{
	width: 29%;
	float: right;
	border-radius:5px;
}


/*********************slider custom style******************/
.QFocus img{
	height: 300px !important;
}

/********************top noticeboard style*****************/
.noticeboard-top{
	visibility: visible;
	float: left;
	height: 100% !important;
	min-height: 230px;
	margin-right: 0px;
	overflow: hidden;
	margin-top: 5px;
	width: 98%;
	margin-left: 4px;
	background: #F7F7F7;
	border-radius:5px;
}

.noticeboard-top h3{
	background: #3382FB;
	color: #fff;
	padding: 7px 5px;
	text-align:center;
}

.noticeboard-top marquee{
	border: 1px solid #d3d3d3;
	height: 250px !important;
	padding: 5px 10px;
}

.noticeboard-top a{
	color: #000000;
}

.sammary {
	width: 98% !important;
}

.maincontent .row{
	background: none;
}

/***************footer noticeboard style***************/
.noticeboard-footer{
	visibility: hidden;
	float: left;
	height: 100% !important;
	min-height: 230px;
	margin-right: 0px;
	overflow: hidden;
	margin-top: 5px;
	width: 100%;
	background: #F7F7F7;
}

.noticeboard-footer h3{
	color: #fff; 
	background: #0164FA;
	padding: 7px 5px;	
}

.noticeboard-footer marquee{
	padding: 5px 10px;
	height: 255px !important;
}

.noticeboard-footer a{
	color: #0164FA;
}