@charset "utf-8";
/* CSS Document */

/* including ubuntu font family */
@font-face {
    font-family: "Ubuntu";
    src: url('../fonts/ubuntu/ubuntu.light.eot');
    src: url('../fonts/ubuntu/ubuntu.lightd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ubuntu/ubuntu.light.svg#Ubuntu') format('svg'),
        url('../fonts/ubuntu/ubuntu.light.woff') format('woff'),
        url('../fonts/ubuntu/ubuntu.light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* including open sansregular font family */
@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{transition: all 0.3s ease-in;}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

a{text-decoration: none;}

body{
    margin: 0;
    padding: 0;
    /*font-family: "Ubuntu";*/
    font-family: "opensans";
    font-size: 18px;
}

header,
footer{
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
}

/* main content style start here */
section[role="main"]{
    width: 100%;
    height: 100%;
    display: table;
    box-sizing: border-box;
}

section[role="main"] section.container{
    display: table-cell;
    vertical-align: top;
    height: 100vh;
}

section[role="main"] section[role="aside"]{
    width: 300px;
}
/* main content style end here */





/******************************** ul style start here *************************************************/
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/******************************** ul style start end **************************************************/




/* error style start here */
p.error{
    margin: 0;
    padding: 0;
    color: #E13300;
    font-size: 14px;
}
/* error style end here */





/**********************************************************************************/
form div,
form p{
    margin: 8px 0;
    min-height: 35px;
    /*overflow: auto;*/
    clear: both;
}
/**********************************************************************************/


/* input style start here */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
textarea,
select{
    width: 98%; 
    height: 30px;
    font-family: 'opensans';
    font-size: 16px;
    color: #16232D;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    padding-left: 5px;
}

select{
    height: 33px;
    color: #929292;
}

textarea{
    height: 100px;
    resize: none;
    padding-left: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus{
    
}
/* input style end here */

/************************** upload image style start here ***************************/
.upload{
    position: relative;
}

.upload input[type="file"]{
    opacity: 0;
    padding-left: 5px;
}

.upload span{
    position: absolute;
    background: #FFF;
    display: inline-block;
    line-height: 35px;
    padding-left: 8px;
    width: 98.2%;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    left: 0;
    top: 0;
    z-index: -1;
    color: #929292;
}

.upload span i{
    margin-right: 10px;
}
/************************** upload image style end here ***************************/




/*********************************** button style start here *************************************/
button,
.button,
input[type="submit"]{
    display: inline-block;
    text-decoration: none;
    line-height: 35px;
    padding: 0 20px;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color:#dfe7ea;
    background: #3e9cbf;
    border:1px solid #3e9cbf;
    cursor:pointer;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 3px 0px 0px #205c73, 0px 6px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 3px 0px 0px #205c73, 0px 6px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 3px 0px 0px #205c73, 0px 6px 5px #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

button:hover,
.button:hover,
input[type="submit"]:hover{
    color: #FFF;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}

a.button{
    line-height: 36px;
}
/*********************************** button style end here *************************************/





/************************** half element style start here ***************************/
.half{
    
}

.half input,
.half select{
    width: 48%;
    float: left;
    margin-right: 5px;
}

.half select{
    width: 48.4%;
}

.half input:last-child,
.half select:last-child{
    float: right;
}
/************************** half element style start here ***************************/




/************************* blockquote style start here ******************************/
blockquote{
    width: 97%;
    margin: 20px auto;
    padding: 1% 0 1% 1%;
    border-left: 5px solid #AAAA44;
    background: #F2F2F2;
}

blockquote p{
    font-weight: 400;
    font-size: 15px;
    color: #787878;
}

blockquote p span{
    font-size: 13px;
}
/************************* blockquote style end here ********************************/




/************************ table style start here **************************/
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #393939;
    color: #7793a7;
    margin: 0;
    padding: 0;
}

table th,
table.routine-table tr td:first-child{
    background: #1c2b36;
}

table th{
    line-height: 40px;
    font-size: 17px;
    font-weight: 300;
}

table tr td:first-child span{
    display: block;
    margin-left: 10px;
    font-size: 17px;
}

table tr td textarea{
    margin: 0 auto;
    padding: 0;
    width: 99%;
    border-radius: 0;
    font-size: 15px;
    border: none;
    resize: none;
}
/************************ table style end here **************************/





