.QFocus{
	/*width: 1000px;*/
	height: 300px;
	overflow: hidden;
	position: relative;
}

.QFocus ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.QFocus li{
	height: 100%;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.QFocus li.show{
	visibility: visible;
	opacity: 1;
}
.QFocus li a{
	display: block;
}
.QFocus .QFocus-title{
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
	background: rgb(0,0,0);
	filter:alpha(opacity=60);
	background: rgba(0,0,0,.6);
	color: rgb(255,255,255);
	font-size: 16px;
	height: 0;
	line-height: 30px;
	transition: height .5s;
	-webkit-transition: height .5s;
}
.QFocus .QFocus-title.show{
	height: 30px;
}
.QFocus .QFocus-title span{
	margin-left: 10px;
	position: relative;
}
.QFocus-prev,.QFocus-next{
	width:40px;
	height:40px;
	line-height:35px;
	text-align:center;
	font-size:30px;
	font-family: 'Microsoft YaHei';
	color:rgb(255,255,255);
	background: rgb(51,51,51);
	filter:alpha(opacity=60);
	background: #0164FA;
	position:absolute;
	top:45%;
	border-radius:50%;
	cursor:pointer;
	visibility: hidden;
	opacity: 0;
	transition: all .5s;
	-webkit-transition: all .5s;
}
.QFocus-prev:hover,.QFocus-next:hover{
	background: #0164FA;
}
.QFocus-prev.show,.QFocus-next.show{
	visibility: visible;
	opacity: 0.7;
}
.QFocus-prev span,.QFocus-next span{
	position: relative;
}
.QFocus-prev{
	left: 5px;
}
.QFocus-next{
	right: 5px;
}
.QFocus-nav{
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	margin: 0;
	text-align: center;
}
.QFocus-nav dl{
	margin: 0;
	display: inline;
	background: rgba(255,255,255,.3);
	border-radius: 10px;
	padding: 0 5px;
	display:none;
}
.QFocus-nav dd{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 2px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #b7b7b7;
	position: relative;
	top: -1px;
	cursor: pointer;
}
.QFocus-nav dd.selected{
	background: #fd6730;
}

/* slide */
.QFocus .slide li{
	position: relative;
	float: left;	
	visibility: visible;
	opacity: 1;
}