/*Kindle and iPad landscape · width: 1024px*/
@media screen and (max-width: 1024px){
	.banner-main  > .banner2{
		width: 28%;
	}
	.QFocus-prev{display:none;}
	.QFocus-next{display:none;}
}

@media only screen and (max-width:800px){
 .QFocus{
  width: 538px !important;
 }
}

@media only screen and (min-width: 768px) and (max-width:1000px) {
	
nav.navigation{
	background:none;
	position:relative;
}
	
		
nav.navigation a.responsive-icon{
display:block;
color:#0164FA; /*#01738e;*/
cursor:pointer;

}	

	

nav.navigation >ul{	
  display:none;
  height:auto;
  background:#FFF;
  padding:0;
  left:0;
  top:40px;
  position:absolute;
  width:150px;
  z-index: 1000;
}


nav.navigation >ul >li{
	float:none;
	border:none;
	margin-top:1px;
	height:40px;
	
	
}


nav.navigation >ul >li:last-child{
	border:none;
	}

nav.navigation >ul >li >a{
	text-decoration:none;
	line-height:40px;
	padding:0 15px;
	display:block;
	color:#000;
}

nav.navigation >ul >li >a:hover{
	background:#0164FA; /*#01738e;*/
	padding:0;
	position:relative;
	color:#FFF;
	border-radius:2px;
	transition:all ease 100ms;
}


nav.navigation >ul >li div{
	position:absolute;
	top:30px;
	left:0px;
	width:170px;
	min-height:220px;
	height:auto;
	overflow:auto;
	background:#fff;
	box-shadow:0px 0px 8px 1px #8B8B8B;
	display:none;
	border-top:6px solid #0164FA; /*#01738e;*/
	/*border-radius: 0 0 2px 2px;*/
	
}

nav.navigation >ul >li div#department{
left:240px;
top:-100px;
}

nav.navigation >ul >li div#soho-karzokrom{
left:140px;
top:-100px;
}

nav.navigation >ul >li div#result{
left:140px;
top:-100px;
}

nav.navigation >ul >li div#admission{
left:140px;
top:-100px;
}

nav.navigation >ul >li div#exam{
left:140px;
top:-100px;
}

nav.navigation >ul >li:hover div{

display:block;

}


nav.navigation >ul >li div ul{

width:150px;
height:auto;
margin:0;
padding:0;
float:left;
border-right:none;
text-align:left;
list-style:none;
padding-left:10px;
}



nav.navigation >ul >li div ul:last-child{
	border:none;
}
nav.navigation >ul >li div ul p{
	color:#000;
	font-size:18px;
	margin-top:0;
	margin-bottom:5px;
}

nav.navigation >ul >li div ul li a{
	text-decoration:none;
	color:#000;
	font-size:14px;
}

nav.navigation >ul >li div ul li a:hover{
	color: #0164FA; /*#01738e;*/
	
}


}






@media only screen and (min-width: 480px) and (max-width:767px) {
	

	nav.navigation{
	background:none;
	position:relative;
}
	
	
	
	
nav.navigation a.responsive-icon{
display:block;
color:#0088cc;
cursor:pointer;

}	

	

nav.navigation >ul{	
  display:none;
  height:auto;
  background:#FFF;
  padding:0;
  left:0;
  top:40px;
  position:absolute;
  width:150px;
  box-shadow:0px 0px 8px 1px #8B8B8B;
}


nav.navigation >ul >li{
	float:none;
	border:none;
	margin-top:1px;
	height:40px;
	
	
}


nav.navigation >ul >li:last-child{
	border:none;
	}

nav.navigation >ul >li >a{
	text-decoration:none;
	line-height:40px;
	padding:0 15px;
	display:block;
	color:#000;
}

nav.navigation >ul >li >a:hover{
	background:#0088cc;
	padding:0;
	position:relative;
	color:#FFF;
	border-radius:2px;
	transition:all ease 100ms;
}

nav.navigation >ul >li div{
	position:absolute;
	top:30px;
	left:0px;
	width:170px;
	min-height:220px;
	height:auto;
	overflow:auto;
	background:#fff;
	box-shadow: 0 0 8px 1px #8B8B8B;
	display:none;
	border-top:6px solid #0088cc;
	/*border-radius: 0 0 2px 2px;*/
	
}




nav.navigation >ul >li div#department{
left:315px;
top:-100px;
}


nav.navigation >ul >li div#soho-karzokrom{
left:140px;
top:-100px;
}

nav.navigation >ul >li div#result{
left:140px;
top:-100px;
}

nav.navigation >ul >li div#admission{
left:140px;
top:-100px;
}

nav.navigation >ul >li div#exam{
left:140px;
top:-100px;
}

nav.navigation >ul >li:hover div{

display:block;

}


nav.navigation >ul >li div ul{

width:150px;
height:auto;
margin:0;
padding:0;
float:left;
border-right:none;
text-align:left;
list-style:none;
padding-left:10px;

}


nav.navigation >ul >li div ul:last-child{
	border:none;
}
nav.navigation >ul >li div ul p{
	color:#000;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px;
}

nav.navigation >ul >li div ul li a{
	text-decoration:none;
	color:#000;
	font-size:14px;
}

nav.navigation >ul >li div ul li a:hover{
	color: #0088cc;
	
}


article.maincontent{
	width:100%;
	height:auto;
	min-height:600px;
	float:none;
	margin-top:20px
}

aside.right-panel{
width:100%;
height:auto;
min-height:400px;
float:none;
margin-top:20px	;
/*outline:1px solid  #C2F48C;*/

}


aside.right-panel .singlediv{
width:30%;
height:auto;
min-height:100px;
float:left;
margin-left:3%;
background:#F7F7F7;
margin-bottom:10px;	
}
aside.right-panel .singlediv:last-child{
margin-bottom:0px;	
}

aside.right-panel .singlediv h1.title{
	width:100%;
	background:#0088CC;
	margin:0;
	text-align:center;
	color:#FFF;
	font-weight:100;
	font-size:20px;
	line-height:35px;
	
}


aside.right-panel .singlediv h1.title{

	font-size:18px;

}


aside.right-panel .singlediv ul li a{
	
	font-size:13px;


}


}

@media only screen and (max-width:479px){
	

	
	nav.navigation{
	background:none;
	position:relative;
}
	
	
	
	
nav.navigation a.responsive-icon{
display:block;
color:#0164FA;
cursor:pointer;

}	

	

nav.navigation >ul{	
  display:none;
  height:auto;
  background:#FFF;
  padding:0;
  left:0;
  top:40px;
  position:absolute;
  width:136px;
  box-shadow:0px 0px 8px 1px #8B8B8B;
}


nav.navigation >ul >li{
	float:none;
	border:none;
	margin-top:1px;
	height:40px;
	
	
}


nav.navigation >ul >li:last-child{
	border:none;
	}

nav.navigation >ul >li >a{
	text-decoration:none;
	line-height:40px;
	padding:0 15px;
	display:block;
	color:#000;
}

nav.navigation >ul >li >a:hover{
	background:#0164FA;
	padding:0;
	position:relative;
	color:#FFF;
	border-radius:2px;
	transition:all ease 100ms;
}







nav.navigation >ul >li div{
	position:absolute;
	top:30px;
	left:0px;
	width:120px;
	min-height:220px;
	height:auto;
	overflow:auto;
	box-shadow:0px 0px 8px 1px #8B8B8B;
	display:none;
	border-top:6px solid #0164FA;
	/*border-radius: 0 0 2px 2px;*/
	
}




nav.navigation >ul >li div#department{
left:315px;
top:-100px;
}


nav.navigation >ul >li div#soho-karzokrom{
left:140px;
top:-100px;
}

nav.navigation >ul >li div#result{
left:112px;
top:-100px
}

nav.navigation >ul >li div#admission{
left:112px;
top:-100px
}

nav.navigation >ul >li div#exam{
left:112px;
top:-100px
}

nav.navigation >ul >li:hover div{

display:block;

}


nav.navigation >ul >li div ul{

width:110px;
height:auto;
margin:0;
padding:0;
float:left;
border-right:none;
text-align:left;
list-style:none;
padding-left:10px;

}



nav.navigation >ul >li div ul:last-child{
	border:none;
}
nav.navigation >ul >li div ul p{
	margin-bottom:10px;
	margin-top:10px;
}

nav.navigation >ul >li div ul li a{
	text-decoration:none;
	color:#000;
	font-size:14px;
}

nav.navigation >ul >li div ul li a:hover{
	color: #0164FA;
	
}


article.maincontent{
	width:100%;
	height:auto;
	min-height:600px;
	float:none;
	margin-top:20px;
	text-align:center;
	
}


section.noticeboard{
	width:100%;
	min-height:200px;
	height:auto;
	background:#F7F7F7;
	outline:1px solid  #C2F48C;
	overflow:auto;
	text-align:center;
	display: table-row;
}

section.noticeboard img{
	max-width: 456px;
}




section.noticeboard h1{
	text-align:center;
	display:block;
	margin:10px 0
	
}



section.noticeboard ul{
float:none;
margin:10px auto;
text-align:left
	
}





aside.right-panel{
width:100%;
height:auto;
min-height:400px;
float:none;
margin-top:20px	;
display:block;
text-align:center
/*outline:1px solid  #C2F48C;*/

}


aside.right-panel .singlediv{
width:70%;
height:auto;
margin:auto;
min-height:100px;
float:none;
display:block;
overflow:auto;
background:#F7F7F7;
margin-bottom:10px;	
}
aside.right-panel .singlediv:last-child{
margin-bottom:0px;	
}

aside.right-panel .singlediv h1.title{
	width:100%;
	background:#0088CC;
	margin:0;
	text-align:center;
	color:#FFF;
	font-weight:100;
	font-size:20px;
	line-height:35px;
	
}

aside.right-panel .singlediv h1.title{

	font-size:18px;

}


aside.right-panel .singlediv ul li a{
	
	font-size:13px;
	text-align:left;


}

footer div.copyright{
	width:100%;
	float:none;
	margin:auto;
	text-align:center
	
	}

footer div.social{
	width:100%;
	float:none;
	margin:auto;
	text-align:center
	
	}
	
	footer div.developer{
	width:100%;
	float:none;
	margin:auto;
	text-align:center
	
	}
	
}

/* IE10+ VIEWPORT FIX */
@-ms-viewport{width:device-width;}
@viewport{width:device-width;}

/*Kindle and iPad landscape · width: 1024px*/
@media screen and (max-width: 960px){
	section.foot-2{
	overflow: auto;
	}
	
	section.foot-2 div:last-child,
	section.foot-2 div{
		float: none;
		text-align: center;
		font-size: 18px;
		clear: both;
	}
	
	footer div.developer{
		width:100%;
		float:none;
		margin: 0 auto;
		text-align:center
	}
	
}

/*custom landscape mode · width: 1024px*/
@media screen and (max-width: 960px){
    /* style goes to here */	
}

/*iPad portrait · width: 768px */
@media screen and (max-width: 768px){
    footer.foot-1 section.wrapper{
        display: block;
        overflow: auto;
    }


    footer.foot-1 section.wrapper div{
        width: 47%;
        min-height: 155px;
        margin: 20px auto 0;
        float: left;
    }
    
    footer.foot-1 section.wrapper div.foot-logo{
        display: none;
    }
    
    footer.foot-1 section.wrapper div ul{
        margin: 0 auto;
    }
    
    footer.foot-1 section.wrapper div:last-child{
        margin-left: -1px;
    }
    
    ul.foot-ul-2{
        border-right: none !important;
    }
    
    ul.foot-ul-1 li,
    ul.foot-ul-3 li{
        text-align: right;
        padding-right: 30px;
        overflow: hidden;
    }
    
    ul.foot-ul-2 li,
    ul.foot-ul-4 li{
        text-align: left;
        padding-left: 30px;
        overflow: hidden;
    }
}

/* 
 Android (Nexus 4) and Android (Nexus 4) landscape · width: 600px
 Kindle portrait · width: 600px
 */

@media screen and (max-width: 600px){
rch 		close popup
replace 		move search popup
nav.navigation >ul{	
  display:none;
  height:auto;
  background:#FFF;
  padding:0;
  left:0;
  top:40px;
  position:absolute;
  width:150px;
  z-index: 1000;
}

footer.foot-1 section.wrapper{
        display: block;
        overflow: auto;
    }

    footer.foot-1 section.wrapper div{
        width: 47%;
        min-height: 155px;
        margin: 0px auto 0;
        float: left;
		overflow:auto;
    }
    
    footer.foot-1 section.wrapper div.foot-logo{
        display: none;
		
    }
    
    footer.foot-1 section.wrapper div ul{
        margin: 0 auto;
    }
    
    footer.foot-1 section.wrapper div:last-child{
        margin-left: -1px;
    }
    
    ul.foot-ul-2{
        border-right: none !important;
    }
    
    ul.foot-ul-1 li,
    ul.foot-ul-3 li{
        text-align: right;
        padding-right: 30px;
        overflow: hidden;
    }
    
    ul.foot-ul-2 li,
    ul.foot-ul-4 li{
        text-align: left;
        padding-left: 30px;
        overflow: hidden;
    }
    

}

/* iPhone 5 landscape · width: 568px*/
@media screen and (max-width: 568px){

    p.sammary-glance {
    -moz-column-count: 1;
    -moz-column-gap: 0;
}

}

/* iPhone 3+4 landscape · width: px*/
@media screen and (max-width: 480px){
/*.complain box*/
#Complainheh1{
font-size:20px;
color:#0088cc;
text-shadow:1px 2px 4px #a9a9a9;
text-align:center;
margin-top:50px;
}


nav.navigation >ul >li div#soho-karzokrom{
left:140px;
top:-100px;

}


.complain{

margin-top:50px;
margin-left:0px;

}		

.compinput{
border-radius:2px;
}
#nametxt{
font-size:13px;
color:#0088cc;
margin-left:0px;
font-weight:bold;
text-shadow:1px 2px 2px #a9a9a9;
}
#cominput{border-radius:2px; box-shadow:none; border:1px solid #66c4f2; margin-left:-100px;}
#cominput1{border-radius:2px; box-shadow:1px 2px 4px #a9a9a9; border:1px solid #66c4f2; margin-top:-5px; margin-left:-100px;}
#comment{border-radius:2px; box-shadow:1px 2px 4px #a9a9a9; border:1px solid #66c4f2; margin-left:-100px;}
#Gmail{
text-decoration:none;
font-size:15px;
color:#0088cc;
margin-left:100px;
}


/*.complain box*/
}

/*Android (Nexus 4) portrait · width: 384px*/
@media screen and (max-width: 384px){
    
    footer.foot-1 section.wrapper div{
        width: 98%;
        margin: 0 auto; 
        padding: 10px 0;
        float: none;
        display: block;
        border-bottom: 1px solid #282828;
        border-top: 1px solid #565656;
    }
    
    footer.foot-1 section.wrapper div:first-child{
        border-top: none;
    }
    
    footer.foot-1 section.wrapper div:last-child{
        border-bottom: none;
    }
    
    footer.foot-1 section.wrapper div ul{
        border: none !important;
    }
    
    footer.foot-1 section.wrapper div ul li{
        text-align: left;
        padding: 0 0 0 30px;
    }
    
    footer.foot-1 section.wrapper div ul li:hover{
        background: #282828;
    }
    
    ul.foot-ul-4 li:last-child{
        display: block;
    }
	
	
}



@media screen and (max-width: 1024px){}

@media screen and (max-width: 980px){
	section.foot-2 div{
		width: 90%;
		margin: 0 auto;
		float: none !important;
	}
}

@media screen and (max-width: 960px){
	
	header.topbar  div.head_line{
		width: 90%;
	}
	.amclogo { display:none;}
	div#calendar{ display:none;}
	
}


@media screen and (max-width: 768px){
	.banner-main  > .banner1{width:99%;}
	.banner-main  > .banner2{width:100%;}
	.mainmenu{z-index:100;}
	.banner1{display: none;}
	aside.right-panel .singlediv ul{margin-top: 5px;}
}
@media screen and (max-width: 600px){
	header.topbar  div.logo{
		display: none;
	}
	
	header.topbar  div.head_line{
		width: 100%;
	}
	aside.right-panel .singlediv{width:45%;}
}
@media screen and (max-width: 568px){
	header.topbar  div.head_line h1{
		font-size: 1.8em;
	}
	
	header.topbar  div.head_line h1:nth-child(2){
		font-size: 1.5em;
		
	}
}


@media screen and (max-width: 480px){
	header.topbar  div.head_line h1{
		font-size: 1.5em;
	}
	
	header.topbar  div.head_line h1:nth-child(2){
		font-size: 1.2em;
	}
	
	div.banner{
		display: none;
	}
	aside.right-panel .singlediv{width:80%;clear: both;}
}

@media screen and (max-width: 384px){
  header.topbar  div.head_line h1{
		font-size: 1.3em;
	}
	
	header.topbar  div.head_line h1:nth-child(2){
		font-size: 1.1em;
		
	}

}

/*
 Crappy Android landscape · width: 320px 
 iPhone 5 portrait · width: 320px
 iPhone 3+4 portrait · width: 320px
 */
@media screen and (max-width: 320px){
    
    /* footer style here */
    footer.foot-1 section.wrapper div ul li{
        padding: 0 0 0 10px;
    }
    
    section.foot-2 a{
        margin: 0 5px;
    }
    
    section.foot-2 a i{
        font-size: 20px;
    }
    
    section.foot-2 p{
        font-size: 13px;
        padding: 0 0 8px;
    }
}

@media screen and (max-width: 240px){

.container_skitter{display:none;}
}

