@charset "utf-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2014, 4:22:07 PM
    Author     : Freelance IT Lab
*/

/*************************** sign-in + sign-up page style start here *********************************/
div.signin-div,
div.signup-div{
    width: 100%;
    max-width: 500px;
    margin: 1% auto 0;
    padding: 2%;
    border: 1px solid #D2D2D2;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

div.signup-div{
    margin: 1% auto 0;
}

div.signup-div h3,
div.signin-div h3{
    font-weight: 300;
    margin-bottom: 20px;
}

form.signup-form,
form.signin-form{
    width: 100%;
}

form.signup-form p,
form.signin-form p{
    position: relative;
    margin-top: 10px;
}

form.signin-form p span{
    position: absolute;
}

form.signin-form p span i{
    font-size: 24px;
    color: #B3B3B3;
    margin: 8px 0 0 10px;
}

form.signin-form input[type="text"],
form.signin-form input[type="password"]{
    width: 92%;
}

form.signin-form input[type="text"],
form.signin-form input[type="password"]{
    padding-left: 34px;
}

form.signup-form input[name="first_name"],
form.signup-form input[name="last_name"],
form.signup-form select{
    width: 47%;
}

form.signup-form select[name="department"],
form.signup-form select[name="semester"],
form.signup-form input[name="last_name"]{
    float: right;
    margin-right: 1%;
}

form.signup-form select{
    width: 48%;
}

form.signup-form p a.button,
form.signin-form p a.button{
    margin-left: 8px;
}
/* login page style end here */

/* sign-up page style start here */
div.signUp-div{
    width: 60%;
    margin: 5% auto 0;
    padding: 10px 20px 20px;
    border: 1px solid #B3B3B3;
    box-shadow: 0 0 3px 1px #B3B3B3;
    border-radius: 5px;
}

div.signUp-part{
    display: none;
}

div.show{
    display: block;
}

div.signUp-div h3{
    margin: 20px 0 0 10px;
    color: #282828;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

div.signUp-div ul{
    box-sizing: border-box;
    margin: 20px 0;
    overflow: auto;
}

div.signUp-div ul li{
    float: left; 
    margin-right: 10px;
    line-height: 30px;
    border: 1px solid #F44;
    border-radius: 25px;
    cursor: default;
}

div.signUp-div ul li:first-child{
    margin-left: 10px;
}

div.signUp-div ul li span{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    padding: 3px;
    background: #F44;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: #000;
}

div.signUp-div ul li em{
    font-style: normal;
    font-size: 16px;
    color: #282828;
}

form.signUp-form input[name="first_name"],
form.signUp-form input[name="last_name"]{
    width: 47%;
}

form.signUp-form select{
    width: 48%;
}

form.signUp-form input[name="last_name"],
form.signUp-form select[name="department"],
form.signUp-form select[name="semester"]{
    float: right;
    margin-right: 8px;
}

form.signUp-form #basic div,
form.signUp-form #system div, 
form.signUp-form #image div{
    margin: 10px;
}

/* upload system style statr here */
form div.upload-render{
    width: 50%;
    height: 250px;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px #B3B3B3;
    margin: 20px auto !important;
    overflow: hidden;
    position: relative;
}

form div.upload-render input[type="file"]{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    padding: 20px 0;
    cursor: pointer;
}

form div.upload-render span{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

form div.upload-render span i{
    font-size: 64px;
    color: #393939;
    margin: 65px auto 0;
}

form div.upload-render span img{
    margin-top: 3%;
    width: 200px;
}
/* upload system style end here */

.button{
    margin-right: 10px;
}
/* sign-up page style end here */

/*************************** sign-in + sign-up page style end here *********************************/
