@charset "utf-8";

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2014, 4:22:07 PM
    Author     : Freelance IT Lab
*/

/* dashboard header nab style start here */
section[role="nav-bar"]{
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

section[role="nav-bar"] div{
    float: left;
}

.nav-bar-left{
    background: #1C2B36;
    width: 300px;
    text-align: center;
}

section[role="nav-bar"] div span{
    text-align: center;
}
div.nav-items a span i{
    color: #282828;
}

div.nav-items a,	
.nav-bar-left a{
    color: #c4d0d9;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px;
}

div.nav-items a{
    color: #000;
    margin-left: 0;
}

div.nav-items a:hover{
    background: #EEE;
    color: #383838;
}

.nav-items a span i.fa-indent{
    display: none;
}

div.nav-items ul li > ul li span{
    font-weight: bold;
    color: #F00;
}

div.user-nav{
    float: right !important;
    margin-right: 5px;
}

section[role="nav-bar"] div ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section[role="nav-bar"] div ul li{
    float: left;
}

section[role="nav-bar"] div ul li a{
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
    color: #000;
    position: relative;
}

a em{
    line-height: 12px;
    font-size: 10px;
    position: absolute;
    margin: 7px 7px 0 0;
    padding: 0 3px 2px 2px;
    text-align: center;
    border-radius: 2px;
    background: #F44;
    font-style: normal;
    color: #FFF;
    font-weight: 700;
    top: 0;
    right: 0;
}

section[role="nav-bar"] div ul li a:hover{
    background: #EEE;
    color: #383838;
}

section[role="nav-bar"] div ul li a:hover em{
    color: #000;
}

section[role="nav-bar"] div ul li:hover > ul{
    display: block;
}

section[role="nav-bar"] div ul li > ul{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    background: #FFF;
}

section[role="nav-bar"] div ul li > ul.left-nav{
    min-width: 155px;
    margin: 1px 5px 0 0;
    right: 0;
}

.sub-nav{
    background: #EEE;
    color: #383838;
    margin-left: 2px;
    cursor: pointer;
}

.sub-nav img{
    float: left;
    margin-top: 8px;
    border-radius: 50%;
    width: 35px;
}

.sub-nav span{
    padding-left: 10px;
}

.sub-nav a span i{
    color: #282828;
    font-size: 15px;
}

.sub-nav:hover i.fa-caret-down{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

section[role="nav-bar"] div ul li > ul li{
    float: none;
}

section[role="nav-bar"] div ul li > ul li.divider{
    height: 1px;
    border-bottom: 1px solid #E5E5E5;
}

li.sub-nav a:hover > ul li a{
    background: #EEE;
    color: #383838;
}

section[role="nav-bar"] div ul li > ul li a{
    font-size: 18px;
    font-weight: 100;
    line-height: 35px;
    width: 100%;
}
/* dashboard header nab style end here */






/******************************** block page style start here **********************************************/
div.block-div{
    width: 35%;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #000;
}

div.block-div p{
    margin: 20px;
}

div.block-div p span{
    font-size: 16px;
}
/******************************** block page style end here **********************************************/




/********************************* application aside menu style start here ********************************/
section[role="aside"]{
    background: #1c2b36;
    color: #7793a7;
}

section[role="aside"] div{
    padding: 20px 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #393939;
}

section[role="aside"] div:last-child{
    border-bottom: none;
}

section[role="aside"] div.user{
    text-align: center;
}

section[role="aside"] div.user figure{
    margin: 0;
    padding: 0;
}

section[role="aside"] div.user figure img{
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

section[role="aside"] div.user figure figcaption a{
    color: #7793a7;
    font-weight: 700;
}

section[role="aside"] div.user figure figcaption a:hover{
    color: #FFF;
}

section[role="aside"] div.manage p,
section[role="aside"] div.other p{
    text-align: left;
    margin: 0 0 15px 15px;
}

section[role="aside"] div ul{
    overflow: hidden;
}

section[role="aside"] div ul li{

}

section[role="aside"] div ul li a{
    display: inline-block;
    line-height: 35px;
    width: 100%;
    color: #7793a7;
    font-weight: 300;
    font-size: 16px;
    padding-left: 15px;
}

section[role="aside"] div ul li a:hover{
    color: #FFF;
    background: #16232D;
}

section[role="aside"] div ul li a span{
    float: left;
}

section[role="aside"] div ul li a span.menu-text{
    margin-left: 20px;
}

section[role="aside"] div ul li a span i{
    font-size: 20px;
}

section[role="aside"] div ul li a span i.fa-graduation-cap,
section[role="aside"] div ul li a span i.fa-folder-open{
    font-size: 16px;
}

section[role="aside"] div ul li a i.show{
    float: right;
    margin-right: 25px;
    margin-top: 9px;
}

section[role="aside"] div ul li > ul{
    margin: 0;
    padding: 0;
    background: #131e26;
    display: none;
}

section[role="aside"] div ul li > ul li a{
    padding-left: 42px;
    font-weight: normal;
}

section[role="aside"] div ul li:hover > ul{
    display: block;
}

section[role="aside"] div ul li:hover i.fa-caret-down{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
/********************************* application aside menu style end here ********************************/





/********************************* application right container style start here ********************************/
section[role="container"]{
    padding: 2%;
}

section[role="container"] h1{
    color: #16232d;
    font-size: 22px;
    font-weight: 300;
}

div.container-row{
    clear: both;
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

/********************************* create new user form style start here **************************************/
form.newUser-form input[name="first_name"],
form.newUser-form input[name="last_name"],
form.newUser-form select{
    width: 47%;
}

form.fileUpload-form select[name="semester"],
form.newUser-form select[name="department"],
form.newUser-form select[name="semester"],
form.newUser-form input[name="last_name"]{
    float: right;
    margin-right: 1%;
}

form.fileUpload-form select,
form.newUser-form select{
    width: 48%;
}
/********************************* create new user form style end here **************************************/
/********************************* application right container style end here ********************************/





/* dashboard head style start here */
section[role="details"]{
    margin-top: 50px;
    padding: 10px 0;
    background: #F2F2F2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    color: #16232D;
    text-align: center;
}
/* dashboard head style end here */







/* app right content style start here */

/* app right content style end here */


/* manage users div style start here */

div.manage-col{
    display: table;
    box-sizing: border-box;
}

div.manage-col div.col{
    display: table-cell;
    vertical-align: top;
}

div.manage-form{
    width: 75%;
}

div.manage-desk{
    padding: 0 2%;
}

div.manage-desk h3{}

ul.desk-ul{}

ul.desk-ul li{
    background: #F2F2F2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding-left: 10px;
    line-height: 25px;
    cursor: pointer;
    font-size: 15px;
}

ul.desk-ul li:first-child{
    margin-top: 0;
}

ul.desk-ul li:hover{
    background: #1c2b36;
    color: #7793a7;
}
/* manage users div style end here */



/* message style start here */
p#conf-insert,
p#conf-update,
p#conf-delete,
p#conf-failure{
    width: 100%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

p#conf-insert{background: #d9edf7;}
p#conf-insert a{color: #00aaff;}

p#conf-update{background: #dff0d8;}
p#conf-update a{color: #298c00;}

p#conf-delete{background: #fcf8e3;}
p#conf-delete a{color: #ae9200;}

p#conf-failure{background: #f2dede;}
p#conf-failure a{color: #e40000;}

p#conf-insert a,
p#conf-update a,
p#conf-delete a,
p#conf-failure a{
    display: inline-block;
    line-height: 30px;
    width: 100%;
}

.disable{display: none;}
/* message style end here */


/* pop-up window style start here */
.pop-up{
    background: rgba(57, 57, 57, 0.5);
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

.pop-up .pop-up-data{
    max-width: 800px;
    width: 100%;
    min-height: 400px;
    margin: 5% auto 11%;
    padding: 1%;
    background: #F2F2F2;
    border-radius: 5px;
    position: relative;
}

.pop-up .pop-up-data span#cancle{
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
}

.pop-up .pop-up-data span#cancle i{
    font-size: 28px;
    cursor: pointer;
}

.pop-up .pop-up-data span#cancle i:hover{
    color: #F44;
}

.hide{
    display: none;
}
/* pop-up window style end here */
